{% extends 'themes/' ~ theme ~ '/Template.html.twig'  %}

{% block content %}
    {{ settings["404 / Page not found. {slug} = The slug that couldn't be found"]|replace({'{slug}' : slug})|raw }}
{% endblock %}