{% extends 'themes/1.0/Template.html.twig' %}

{% set logon = false %}

{% set disclaimer = settings['Disclaimer']|replace({'\n': '<br>'})|raw %}
{% set disclaimer_checksum = settings['Disclaimer']|replace({'\n': '<br>'})|raw|md5 %}

{% block content %}
    <script>
        window.onload = function()
        {
            // Thanks w3schools
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
            }

            var disclaimer = '{{ disclaimer|raw }}';

            window.disclaimer = disclaimer;

            if ( '' != disclaimer && getCookie('disclaimer') != '{{ disclaimer_checksum }}' )
            {
                var disclaimerContainer = document.createElement('div');
                    disclaimerContainer.setAttribute('class', 'disclaimerContainer');

                var disclaimerModal = document.createElement('div');
                    disclaimerModal.setAttribute('class', 'disclaimer');

                disclaimerContainer.appendChild(disclaimerModal);

                disclaimerModal.appendChild(document.createElement('div'));
                disclaimerModal.querySelector('div').innerHTML = disclaimer;

                var button1 = disclaimerModal.appendChild(document.createElement('button'));
                var button2 = disclaimerModal.appendChild(document.createElement('button'));
                    button1.setAttribute('type', 'submit');
                    button2.setAttribute('type', 'submit');
                    button1.setAttribute('class', 'interpersona');
                    button2.setAttribute('class', 'interpersona');
                    button1.innerText = 'Decline';
                    button2.innerText = 'Accept';

                    button1.onclick = function() { window.history.back() };
                    button2.onclick = function()
                    {
                        document.cookie = 'disclaimer={{ disclaimer_checksum }}';
                        $(disclaimerContainer).fadeOut();
                    };

                document.body.appendChild(disclaimerContainer);
            }
        }
    </script>

    <ul class="slider">
        <h1>{{ settings['Slogan'] }}</h1>
    </ul>

    <span class="quote">
        {{ settings['Frontpage quote'] }}
    </span>

    <div class="flip_boxes">
        <div>
            <div>
                {{ settings['Flip box 1 (voorkant)']|raw }}
            </div>

            <div>
                {{ settings['Flip box 1 (achterkant)']|raw }}
            </div>
        </div>

        <div>
            <div>
                {{ settings['Flip box 2 (voorkant)']|raw }}
            </div>

            <div>
                {{ settings['Flip box 2 (achterkant)']|raw }}
            </div>
        </div>

        <div class="static">
            <div>
                {{ settings['Flip box 3 (voorkant)']|raw }}
            </div>

            <div>
                {{ settings['Flip box 3 (achterkant)']|raw }}
            </div>
        </div>
    </div>
{% endblock %}