div.container > div.content image,
div.container > div.content [data-ce-tag=img],
div.container > div.content img,
div.container > div.content video {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  max-width: 100%;
  height: auto;
}
div.container > div.content iframe,
div.container > div.content .ce-element--type-video {
  margin-bottom: 15px;
}
div.container > div.content image.align-left,
div.container > div.content [data-ce-tag=img].align-left,
div.container > div.content img.align-left,
div.container > div.content video.align-left,
div.container > div.content .align-left {
  clear: initial;
  float: left;
  margin-right: 1em;
}
div.container > div.content image.align-right,
div.container > div.content [data-ce-tag=img].align-right,
div.container > div.content img.align-right,
div.container > div.content video.align-right,
div.container > div.content .align-right {
  clear: initial;
  float: right;
  margin-left: 1em;
}
div.container > div.content .text-center {
  text-align: center;
}
div.container > div.content .text-left {
  text-align: left;
}
div.container > div.content .text-right {
  text-align: right;
}
* .interpersona[type=submit],
* .interpersona[type=button] {
  perspective: 1px;
  text-transform: uppercase;
  position: relative;
  outline: 0;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  min-height: 45px;
  min-width: 140px;
  border: 1px solid #fff;
  text-align: center;
  color: rgba(255,255,255,255);
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}
* .interpersona[type=submit]:before,
* .interpersona[type=button]:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
* .interpersona[type=submit]:hover:before,
* .interpersona[type=button]:hover:before {
  top: 0;
}
* .interpersona[type=submit]:hover,
* .interpersona[type=button]:hover {
  color: rgba(177,120,0,255);
}
* .interpersona[type=text],
* .interpersona[type=email],
* .interpersona[type=textarea] {
  border: none;
  padding: 7px;
  width: 100%;
  background: #ffffff;
}
* .interpersona[type=text][type=textarea],
* .interpersona[type=email][type=textarea],
* .interpersona[type=textarea][type=textarea] {
  min-height: 120px;
}
* .interpersona[type=text]:focus,
* .interpersona[type=email]:focus,
* .interpersona[type=textarea]:focus {
  background: linear-gradient(#dadada,#fff);
}
* div.content button {
  border: 1px solid #000 !important;
  color: rgba(177,120,0,255) !important;
}
* div.content button:before {
  background-color: rgba(177,120,0,255) !important;
}
* div.content button:hover {
  color: rgba(255,255,255,255) !important;
}
* div.content textarea {
  font-family: Calibri;
}
@font-face {
  font-family: FontAwesome;
  src: url(/font/FontAwesome.otf);
}
.uppercase {
  text-transform: uppercase;
}
* {
  box-sizing: border-box;
}
* {
  outline: 0 !important;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  margin: 0;
  background-color: #1a1a1a;
  background-image: url(/img/bg_95f5f66cb1d2d1a035a0cab42ed3d150.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
}
body > div.container {
  margin: 0 auto;
  width: 1230px;
  background-color: #fff;
}
body > div.container > * {
  width: 100%;
}
body > div.container > *:first-child {
  margin: 0;
}
body > div.container > header {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px !important;
  background-color: #fff;
}
body > div.container > header div.logo {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: 330px;
  height: 73px;
  background-size: cover;
}
body > div.container > header div.underline {
  pointer-events: none;
  position: absolute;
  bottom: 16px;
  width: 0px;
  border-bottom: 2px solid #b9b9b9;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
body > div.container > header ul.menu {
  width: 1230px;
  border-top: 1px solid #b9b9b9;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
body > div.container > header ul.menu > li {
  color: #515151;
  list-style-type: none;
  font-family: Calibri;
  display: inline-block;
}
body > div.container > header ul.menu > li:not(:last-child) {
  margin-right: 45px;
}
body > div.container > header ul.menu > li:hover {
  color: #000000;
  text-decoration: underline;
}
body > div.container > header ul.menu > li.active {
  color: #B17800;
  text-decoration: underline;
}
body > div.container > footer {
  position: relative;
  margin: 0;
  border-top: solid 14px #e9eaee;
  background-color: #232425;
}
body > div.container > footer * {
  perspective: 1px;
}
body > div.container > footer > *:not(span) {
  padding: 30px;
}
body > div.container > footer > div {
  display: inline-table;
  width: 33%;
}
body > div.container > footer > div a {
  color: #BFBFBF;
  text-decoration: none;
}
body > div.container > footer > div a:hover {
  text-decoration: underline;
}
body > div.container > footer > div h1 {
  text-transform: uppercase;
  color: #DDDDDD;
  font-size: 13px;
  font-family: Calibri;
  font-weight: 400;
}
body > div.container > footer > div span {
  white-space: pre-line;
  color: #8C8989;
  font-size: 14px;
  font: 13px/20px Calibri;
}
body > div.container > footer > div ul.sitemap {
  padding: 0;
  padding-top: 10px;
}
body > div.container > footer > div ul.sitemap > li {
  margin: 0;
  list-style-type: none;
  color: #bfbfbf;
  font: 13px/20px Calibri;
  border-bottom: 1px solid #bfbfbf;
}
body > div.container > footer > div ul.sitemap > li:hover,
body > div.container > footer > div ul.sitemap > li.active {
  text-decoration: none;
  color: #B17800 !important;
  border-color: #B17800 !important;
}
body > div.container > footer > div ul.sitemap > li:not(:first-child) {
  padding-top: 15px;
}
body > div.container > footer > div ul.sitemap > li a {
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 15px;
}
body > div.container > footer > div ul.sitemap > li a:hover {
  text-decoration: none;
}
body > div.container > footer > span {
  display: block;
  width: 100%;
  background-color: #1a1a1a;
  border-top: 1px solid #7f7f7f;
  margin-top: 30px;
  padding: 20px 30px 20px 30px;
  font: 12px Calibri;
  color: gray;
}
body > div.container > footer form.contact_form {
  overflow: hidden;
  max-width: 280px;
}
body > div.container > footer form.contact_form > * {
  display: block;
}
body > div.container > footer form.contact_form > span:last-of-type {
  margin-bottom: 25px;
}
body > div.container > footer form.contact_form.sent:after {
  padding-top: 120px;
  height: 100%;
}
body > div.container > footer form.contact_form:after {
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  overflow: hidden;
  position: absolute;
  content: 'Thank you';
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #232425;
  text-align: center;
  padding-top: 0px;
  color: #DADADA;
  font-family: Calibri;
  font-size: 56px;
}
body > div.container > div.content {
  padding: 0 20px 20px 20px;
  word-wrap: break-word;
  font-family: Calibri;
  font-size: 14px;
  color: #333333;
}
body > div.container > div.content table {
  width: 100%;
  max-width: 400px;
  border: 1px solid #b6b6b6;
  border-collapse: collapse;
}
body > div.container > div.content table tr > *:last-child {
  padding-top: 0;
}
body > div.container > div.content table th {
  background-color: #e0e0e0;
}
body > div.container > div.content table th * {
  border: none;
}
body > div.container > div.content table td,
body > div.container > div.content table th {
  font-weight: normal;
  padding: 5px;
}
body > div.container > div.content table td:last-child,
body > div.container > div.content table th:last-child {
  padding-bottom: 0;
}
body > div.container > div.content table tr:not(:last-child) {
  border-bottom: 1px solid #b6b6b6;
}
body > div.container > div.content > h1 {
  font-size: 14pt;
  font-weight: bold;
}
body > div.container > div.content > h1:after {
  content: '';
}
body > div.container > div.content > h2 {
  font-size: 12pt;
  font-weight: bold;
}
body > div.container > div.content ul {
  display: inline-block;
  padding-left: 30px;
}
body > div.container > div.content ul li {
  position: relative;
  list-style-type: none;
}
body > div.container > div.content ul li:not(:last-child) {
  margin-bottom: 20px;
}
body > div.container > div.content ul li:before {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-family: FontAwesome;
  font-size: 11px;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  content: '\f00c';
  left: -30px;
  background-color: #d7d7d7;
  border-radius: 100%;
  width: 20px;
  height: 16px;
  top: -3px;
}
body > div.container > div.content ul li:hover:before {
  background-color: #c3c3c3;
}
body > div.container > div.content > div.cover {
  display: block;
  width: 1190px;
  height: 350px;
  background-size: cover;
  background-position: center center;
}
body > div.container > div.content > ul.slider {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 350px;
  background-color: #0d0f14;
  background-image: url(/img/measure.jpg);
  background-repeat: no-repeat;
  background-position: 50% 83%;
  -webkit-transition: 7s;
  -moz-transition: 7s;
  -ms-transition: 7s;
  -o-transition: 7s;
  transition: 7s;
}
body > div.container > div.content > ul.slider h1 {
  position: absolute;
  bottom: 0;
  left: 18px;
  text-transform: uppercase;
  color: #DDDDDD;
  font-size: 21px;
  font-family: Calibri;
  font-weight: 400;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  text-shadow: 1px 1px 1px #000;
}
body > div.container > div.content > span.quote {
  position: relative;
  display: block;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 98%;
  white-space: pre-line;
  text-align: left;
  font-family: Calibri;
  font-weight: bold;
  font-size: 18px;
  color: #5F5F5F;
}
body > div.container > div.content > span.quote:before {
  position: absolute;
  left: -10px;
  top: -16px;
  color: #333;
  font-family: FontAwesome;
  content: '\f10d';
  font-size: 30px;
}
body > div.container > div.content > span.quote:after {
  position: absolute;
  right: -10px;
  bottom: -10px;
  color: #333;
  font-family: FontAwesome;
  content: '\f10e';
  font-size: 30px;
}
body > div.container > div.content div.flip_boxes {
  padding: 0;
}
body > div.container > div.content div.flip_boxes > div {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  white-space: pre-line;
  position: relative;
  display: inline-block;
  width: 33%;
  min-height: 232px;
}
body > div.container > div.content div.flip_boxes > div > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body > div.container > div.content div.flip_boxes > div:hover:not(.static) div:first-child {
  color: #2f2f2f;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
body > div.container > div.content div.flip_boxes > div:hover:not(.static) div:last-child {
  overflow-y: auto;
  color: #e8e8e8;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
body > div.container > div.content div.flip_boxes > div > div:first-child {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #f1f1f1;
  text-align: center;
}
body > div.container > div.content div.flip_boxes > div > div:first-child h1 {
  font-family: Calibri;
  font-size: 19px;
  color: #8f8f8f;
}
body > div.container > div.content div.flip_boxes > div > div:first-child span {
  font-family: Calibri;
  font-size: 15px;
  color: #8f8f8f;
}
body > div.container > div.content div.flip_boxes > div > div:last-child {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #b17800;
  text-align: center;
}
body > div.container > div.content div.flip_boxes > div > div:last-child h3 {
  font-family: Calibri;
  font-size: 15px;
  color: #e2e2e2;
}
body > div.container > div.content div.flip_boxes > div > div:last-child span {
  font-family: Calibri;
  font-size: 13px;
  color: #fff;
}
body > div.container > div.content div.flip_boxes > div:not(:last-of-type) {
  margin-right: 2px;
}
body > div.container > div.content div.flip_boxes > div > div button {
  perspective: 1px !important;
  position: relative !important;
  outline: 0 !important;
  display: block !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-top: 10px !important;
  width: 100% !important;
  min-height: 50px !important;
  border: 1px solid #fff !important;
  border-radius: 5px !important;
  text-align: center !important;
  color: rgba(255,255,255,255) !important;
  font-weight: bold !important;
  font-size: 15px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  overflow: hidden !important;
  -webkit-transition: .1s !important;
  -moz-transition: .1s !important;
  -ms-transition: .1s !important;
  -o-transition: .1s !important;
  transition: .1s !important;
}
body > div.container > div.content div.flip_boxes > div > div button:before {
  z-index: -1 !important;
  display: block !important;
  position: absolute !important;
  content: '' !important;
  background-color: #fff !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: -100%;
  -webkit-transition: .3s !important;
  -moz-transition: .3s !important;
  -ms-transition: .3s !important;
  -o-transition: .3s !important;
  transition: .3s !important;
}
body > div.container > div.content div.flip_boxes > div > div button:hover:before {
  top: 0 !important;
}
body > div.container > div.content div.flip_boxes > div > div button:hover {
  color: rgba(177,120,0,255) !important;
}
body > div.container > div.content div.flip_boxes > div ul {
  list-style-type: none;
}
body > div.container > div.content div.flip_boxes > div ul li {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
}
body > div.container > div.content div.flip_boxes > div ul li:before,
body > div.container > div.content div.flip_boxes > div ul li:after {
  display: none !important;
}
body > div.container > div.content div.flip_boxes > div ul li a {
  display: block;
  position: relative;
}
body > div.container > div.content div.flip_boxes > div ul li a:hover:before {
  opacity: 1;
}
body > div.container > div.content div.flip_boxes > div ul li a:before {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255,255,255,0.5);
}
body div.disclaimerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
body div.disclaimerContainer div.disclaimer {
  position: fixed;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #FFF;
}
body div.disclaimerContainer div.disclaimer div {
  overflow-y: auto;
  max-height: 90%;
  font-family: Arial;
  word-wrap: break-word;
  white-space: pre-line;
}
body div.disclaimerContainer div.disclaimer button {
  display: inline-block !important;
  width: 50% !important;
  height: 70px !important;
  background-color: #b17800 !important;
}
body div.contact_form {
  display: flex;
}
body div.contact_form h1,
body div.contact_form h2,
body div.contact_form h3,
body div.contact_form h4,
body div.contact_form h5 {
  margin-top: 0;
}
body div.contact_form > div {
  display: inline-block;
}
body div.contact_form > div:first-child {
  width: 60%;
}
body div.contact_form > div:first-child span {
  display: block;
}
body div.contact_form > div:first-child span:not(:last-of-type) {
  margin-bottom: 15px;
}
body div.contact_form > div:first-child span input[type=text],
body div.contact_form > div:first-child span input[type=email],
body div.contact_form > div:first-child span textarea {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-top: 7px;
  border: 1px solid #525252;
}
body div.contact_form > div:first-child form.contact_form {
  position: relative;
}
body div.contact_form > div:first-child form.contact_form.sent:after {
  padding-top: 50px;
  height: 100%;
}
body div.contact_form > div:first-child form.contact_form:after {
  overflow: hidden;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  position: absolute;
  content: 'Thank you';
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  font-size: 45px;
  text-align: center;
  padding-top: 0px;
}
body div.contact_form > div:last-child {
  width: 50%;
  padding-left: 25px;
}
body div.contact_form > div:last-child span {
  white-space: pre-line;
  color: #333;
  font-size: 14px;
  font: 13px/20px Calibri;
}
body div.content.serenity-fund > p > * {
  display: block;
}
body div.content.serenity-fund h1,
body div.content.serenity-fund h2,
body div.content.serenity-fund h3,
body div.content.serenity-fund h4,
body div.content.serenity-fund h5,
body div.content.serenity-fund .title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
}
body div.content.serenity-fund .title {
  font-size: 1.5em;
  font-weight: bold;
}
body div.content.serenity-fund blockquote {
  border-left: 4px #afafaf solid;
  padding-left: 10px;
  padding: 15px;
  font-style: italic;
  background-color: #F7F7F7;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
body div.content.serenity-fund blockquote:hover {
  border-color: #808080;
}
body div.content.serenity-fund .bullets {
  display: inline-table;
}
body div.content.serenity-fund table {
  margin-top: 25px;
  max-width: inherit !important;
  display: inline-table;
}
body div.content.serenity-fund table table,
body div.content.serenity-fund table th,
body div.content.serenity-fund table td {
  border: 1px solid gray !important;
}
body div.content.serenity-fund table tr {
  border-top: none;
}
body div.content.serenity-fund table th,
body div.content.serenity-fund table td {
  padding: 8px !important;
}
body div.content.serenity-fund .bullets-table {
  display: inline-table;
}
body div.content.serenity-fund .bullets-table p,
body div.content.serenity-fund .bullets-table div,
body div.content.serenity-fund .bullets-table span:not(.title) {
  line-height: 21px;
  white-space: pre-line;
  padding: 18px;
  background-color: #efefef;
}
body div.content.serenity-fund .bullets-table p b,
body div.content.serenity-fund .bullets-table p strong,
body div.content.serenity-fund .bullets-table div b,
body div.content.serenity-fund .bullets-table div strong,
body div.content.serenity-fund .bullets-table span:not(.title) b,
body div.content.serenity-fund .bullets-table span:not(.title) strong {
  font-size: 16px;
  color: rgba(177,120,0,255);
}
body div.content.serenity-fund ul {
  width: 100%;
}
body div.content.serenity-fund button {
  margin-top: 0;
}
