<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Interpersona - Admin panel</title>

    {% if settings['Favicon'] %}<link rel="shortcut icon" type="image/png" href="{{ settings['Favicon'] }}"/>{% endif %}

    <link rel="stylesheet" href="/admin/css/dashboard.css&bootstrap/bootstrap.min.css"/>

    <script src="/admin/js/jquery-1.12.0.min.js&jquery-form.min.js"></script>
    <script src="/admin/js/bootstrap/bootstrap.min.js"></script>
    <script src="/admin/js/default.js&script.js"></script>
    {% block head %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/img/logo_b1bce884b0c6056a9bcea7852ee5c29d.png"/>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{ session.logon.name }}</a> | <a href="#" class="logout navbar-link">Logout</a></p>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="alertbox"></div>

        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li{% if slug is null %} class="active"{% endif %}><a href="/admin">Overview <span class="sr-only">(current)</span></a></li>
                    <li{% if slug == 'pages' %} class="active"{% endif %}><a href="/admin/pages">Pages</a></li>
                    <li{% if slug == 'media' %} class="active"{% endif %}><a href="/admin/media">Media</a></li>
                    <li{% if slug == 'settings' %} class="active"{% endif %}><a href="/admin/settings">Settings</a></li>
                    <li{% if slug == 'users' %} class="active"{% endif %}><a href="/admin/users">Users</a></li>
                </ul>

                <ul class="nav nav-sidebar">
                    <li{% if slug == 'products' %} class="active"{% endif %}><a href="/admin/products">Products</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>