{% spaceless %}
<html>
<head>
    <title>Interpersona - {{ settings['Slogan'] }}</title>

    {% if settings['Favicon'] %}<link rel="shortcut icon" type="image/png" href="{{ settings['Favicon'] }}"/>{% endif %}

    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/js/jquery-1.12.0.min.js&default.js"></script>

    {% if settings['Embedded CSS'] %}
        <style>{{ settings['Embedded CSS'] }}</style>
    {% endif %}

    {% if logon != false %}
        <link rel="stylesheet" href="/admin/css/content-tools.min.css&content-tools.css"/>
        <script src="/admin/js/content-tools.js"></script>

        <script>
            $(document).ready(function() {
                window.addEventListener('load', function() {
                    window.editor = null;

                    editor = ContentTools.EditorApp.get();
                    editor.init('*[data-editable]', 'data-name');

                    editor.bind('save', function ()
                    {
                        this.busy(true);

                        $.ajax({
                            url : window.location.protocol + '//' + window.location.host + '/admin/api/edit_page',
                            method : 'POST',
                            data :
                            {
                                id: $('[page-id]').attr('page-id'),
                                column: 'content',
                                value: $('[data-editable]').html()
                            }
                        }).done(function(data)
                        {
                            editor.busy(false);

                            if ( data.result === true )
                                new ContentTools.FlashUI('ok');
                            else
                                new ContentTools.FlashUI('no');
                        })
                    });
                });
            });

            function imageUploader(dialog) {
                var image, xhr, xhrComplete, xhrProgress;

                // Set up the event handlers
                dialog.bind('imageUploader.cancelUpload', function () {
                    // Cancel the current upload

                    // Stop the upload
                    if (xhr) {
                        xhr.upload.removeEventListener('progress', xhrProgress);
                        xhr.removeEventListener('readystatechange', xhrComplete);
                        xhr.abort();
                    }

                    // Set the dialog to empty
                    dialog.state('empty');
                });

                dialog.bind('imageUploader.clear', function () {
                    // Clear the current image
                    dialog.clear();
                    image = null;
                });

                dialog.bind('imageUploader.fileReady', function (file) {
                    // Upload a file to the server
                    var formData;

                    // Define functions to handle upload progress and completion
                    xhrProgress = function (ev) {
                        // Set the progress for the upload
                        dialog.progress((ev.loaded / ev.total) * 100);
                    }

                    xhrComplete = function (ev) {
                        var response;

                        // Check the request is complete
                        if (ev.target.readyState != 4) {
                            return;
                        }

                        // Clear the request
                        xhr = null
                        xhrProgress = null
                        xhrComplete = null

                        // Handle the result of the upload
                        if (parseInt(ev.target.status) == 200) {
                            // Unpack the response (from JSON)
                            response = JSON.parse(ev.target.responseText);

                            // Store the image details
                            image = {
                                size: response.size,
                                url: response.url
                            };

                            this.image = image;

                            // Populate the dialog
                            dialog.populate(image.url, image.size);

                        } else {
                            // The request failed, notify the user
                            new ContentTools.FlashUI('no');
                        }
                    }

                    // Set the dialog state to uploading and reset the progress bar to 0
                    dialog.state('uploading');
                    dialog.progress(0);

                    // Build the form data to post to the server
                    formData = new FormData();
                    formData.append('image', file);

                    // Make the request
                    xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener('progress', xhrProgress);
                    xhr.addEventListener('readystatechange', xhrComplete);
                    xhr.open('POST', '/admin/api/upload_image', true);
                    xhr.send(formData);
                });

                dialog.bind('imageUploader.save', function () {
                    var crop, cropRegion, formData;

                    // Define a function to handle the request completion
                    xhrComplete = function (ev) {
                        // Check the request is complete
                        if (ev.target.readyState !== 4) {
                            return;
                        }

                        // Clear the request
                        xhr = null
                        xhrComplete = null

                        // Free the dialog from its busy state
                        dialog.busy(false);

                        // Handle the result of the rotation
                        if (parseInt(ev.target.status) === 200) {
                            // Unpack the response (from JSON)
                            var response = JSON.parse(ev.target.responseText);

                            // Trigger the save event against the dialog with details of the
                            // image to be inserted.
                            dialog.save(
                                    response.url,
                                    response.size,
                                    {
                                        'alt': response.alt,
                                        'data-ce-max-width': image.size[0]
                                    });

                        } else {
                            // The request failed, notify the user
                            new ContentTools.FlashUI('no');
                        }
                    }

                    // Set the dialog to busy while the rotate is performed
                    dialog.busy(true);

                    // Build the form data to post to the server
                    formData = new FormData();
                    formData.append('url', image.url);

                    // Set the width of the image when it's inserted, this is a default
                    // the user will be able to resize the image afterwards.
                    formData.append('width', 600);

                    // Check if a crop region has been defined by the user
                    if (dialog.cropRegion()) {
                        formData.append('crop', dialog.cropRegion());
                    }

                    // Make the request
                    xhr = new XMLHttpRequest();
                    xhr.addEventListener('readystatechange', xhrComplete);
                    xhr.open('POST', '/admin/api/upload_image', true);
                    xhr.send(formData);
                });
            }

            ContentTools.IMAGE_UPLOADER = imageUploader;
        </script>
    {% endif %}
</head>

<body style="background-image: url({{ settings['Background image'] }})">
<div class="container">
    <header>
        <a href="/"><div class="logo"{% if settings['Logo'] %} style="background-image: url({{ settings['Logo'] }})"{% endif %}></div></a>
        <ul class="menu uppercase">
            {% block template_menu %}
                {% for i in pageList %}
                    {% if i.visible == 'Y' %}
                        <li{%  if slug|upper == i.slug|upper or ( slug is empty and i.title == 'index' ) %} class="active"{% endif %}><a href="/{{ i.slug }}">{{ i.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </ul>
    </header>

    {% if block('add_content') %}
        {% block add_content %}{% endblock %}
    {% endif %}

    {% if block('content') %}
        <div class="content {{ slug }}"{% if logon != false %} data-editable page-id="{{ page.pages_id }}" data-name="content"{% endif %}>
            {% block content %}{% endblock %}
        </div>
    {% endif %}

    <footer>
        <div>
            <h1>Contact info</h1>
                <span>
                    {{ settings['Contact info']|raw }}</span>
        </div>

        <div>
            <h1>Contact us</h1>
            <form class="contact_form">
                <span>
                    Your name (required)
                    <input class="interpersona" type="text" name="name" required/>
                </span>

                <span>
                    Your Email (required)
                    <input class="interpersona" type="email" name="email" required/>
                </span>

                <span>
                    Subject
                    <input class="interpersona" type="text" name="subject" required/>
                </span>

                <span>
                    Your message
                    <textarea class="interpersona" type="textarea" name="message" required></textarea>
                </span>

                <button class="interpersona" type="submit">Send</button>
            </form>
        </div>

        <div>
            <h1>Site map</h1>
            <ul class="sitemap">
                {{ block('template_menu') }}
            </ul>
        </div>

        <span>{{ settings['Copyright']|raw }}</span>
    </footer>
</div>
</body>
</html>
{% endspaceless %}