/** ContentTools Uploader **/

.ct-dialog__body
{
  position: relative;

  .ct-control.ct-control--text.ct-control--upload
  {
    position: relative;

    &:after
    {
      content: '';
      position: absolute;
      left: -472px;
      top: -336px;
      width: 572px;
      height: 319px;
    }
  }
}

.ct-control-group--left
{
  // 3 = Crop button!
  div:first-child, div:nth-child(2), div:nth-child(3)
  {
    display: none;
  }
}