.ct-dialog__body {
  position: relative;
}
.ct-dialog__body .ct-control.ct-control--text.ct-control--upload {
  position: relative;
}
.ct-dialog__body .ct-control.ct-control--text.ct-control--upload:after {
  content: '';
  position: absolute;
  left: -472px;
  top: -336px;
  width: 572px;
  height: 319px;
}
.ct-control-group--left div:first-child,
.ct-control-group--left div:nth-child(2),
.ct-control-group--left div:nth-child(3) {
  display: none;
}
