td.success {
  background-color: inherit !important;
}
* {
  outline: 0 !important;
}
.alertbox {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 2;
  width: 80%;
  max-width: 380px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.alertbox > * {
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.5);
  box-shadow: 3px 3px rgba(0,0,0,0.5);
}
.alertbox > * button[data-dismiss=alert] {
  opacity: 1 !important;
}
.alertbox > *:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.8;
}
nav .navbar-header {
  position: relative;
}
nav .navbar-header img {
  width: 200px;
  margin-top: 5px;
}
nav .navbar-text {
  margin-right: 10px;
}
.manage-pages-header {
  position: relative;
}
.manage-pages-header > button {
  position: absolute;
  right: 0;
  top: 0;
}
.pages-list tr .btn-group {
  min-width: 79px;
}
.pages-list tr .btn-group button,
.pages-list tr .btn-group a {
  min-height: 34px;
}
.pages-list tr .btn-group a {
  padding-top: 8px;
}
.pages-list input[type=text],
.pages-list [checkbox] {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.pages-list td.success:not([checkbox]) {
  background-color: inherit !important;
}
.pages-list .success input,
.pages-list .success[checkbox] {
  background-color: #ceffb4 !important;
}
.pages-list .fail input,
.pages-list .fail[checkbox] {
  background-color: #ffc7ca !important;
}
td.success * {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
td.success input[type=text],
td.success input[type=email],
td.success input[type=password],
td.success textarea {
  background-color: #ceffb4;
}
div.modal.add_file input[multiple] {
  position: relative;
  width: 100%;
  min-height: 400px;
  border: 1px #000 dotted;
  background-color: transparent;
}
div.modal.add_file input[multiple]:hover:before {
  background-color: #f4f4f4;
}
div.modal.add_file input[multiple]:before {
  content: 'Drag your files over here';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  padding-top: 170px;
  font-size: 27px;
}
div.modal.add_file table {
  margin-top: 20px;
  width: 100%;
}
div.modal.add_file table td,
div.modal.add_file table th {
  text-align: left;
}
div.modal.add_file table td span,
div.modal.add_file table th span {
  width: 60px !important;
}
div.modal.add_file table td input,
div.modal.add_file table td span,
div.modal.add_file table th input,
div.modal.add_file table th span {
  width: 90%;
}
div.modal.add_file table tr:first-child {
  margin-top: 10px;
}
