{% extends 'themes/' ~ theme ~ '/Login.html.twig'  %}

{% block content %}
    <script>
        $(document).ready(function()
        {
            $('.form-signin').submit(function(e)
            {
                $.ajax({
                    'url' : window.location.protocol + '//' + window.location.host + '/admin/api/login',
                    method : 'POST',
                    data : {
                        email : $(e.target).find('[type=email]').val(),
                        password : $(e.target).find('[type=password]').val()
                    }
                }).done(function(data)
                {
                    if ( data.result === true )
                        location.reload();

                    else
                    {
                        error('Credentials are incorrect. Try again');
                        return false;
                    }
                })

                return false;
            })
        })
    </script>

    <div id="error_reporting"></div>

    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div> <!-- /container -->
{% endblock %}