{% extends 'themes/' ~ theme ~ '/Template.html.twig'  %}

{% block content %}
    <div class="page-header manage-pages-header">
        <h1>Manage pages</h1>
        <button type="button" class="btn btn-primary btn-lg">Add new page</button>
    </div>

    <div class="add_page modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new page</h4>
                </div>
                <div class="modal-body">

                    <form class=".col-xs-6 .col-md-4">
                        <div class="form-group">
                            <label>Title</label>
                            <input name="title" type="text" class="form-control" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label>Slug</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{ settings['Domain name'] }}</div>
                                <input name="slug" type="text" class="form-control" placeholder="example-page">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Position</label>
                            <input type="text" name="position" class="form-control" placeholder="Numeric | 1 2 3">
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="submit btn btn-primary">Add page</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th># Page ID</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Created since</th>
                    <th>Visible</th>
                    <th>Protected</th>
                    <th>Position</th>
                    <th>Edit / Delete</th>
                </tr>
            </thead>
            <tbody class="pages-list">
                {% for i in pagelist %}
                    <tr page-id="{{ i.pages_id }}">
                        <td>{{ i.pages_id }}</td>
                        <td><input class="form-control" type="text" column="title" value="{{ i.title }}"/></td>
                        <td><input class="form-control" type="text" column="slug" value="{{ i.slug }}"/></td>
                        <td>{{ i.created }}</td>

                        <td checkbox><input class="form-control" type="checkbox" value="Y"  column="visible"{% if i.visible == 'Y' %} checked{% endif %}/></td>
                        <td checkbox><input class="form-control" type="checkbox" value="Y" column="protected"{% if i.protected == 'Y' %} checked{% endif %}/></td>

                        <td><input class="form-control" type="text" column="position" value="{{ i.position }}"/></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="/{{ i.slug }}" type="button" class="btn btn-default edit-page">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <button type="button" class="btn btn-default remove-page">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}