{% extends 'themes/' ~ theme ~ '/Template.html.twig'  %}

{% block content %}
    <div class="page-header manage-pages-header">
        <h1>Website settings</h1>
    </div>

    <div class="table-responsive">
        <table class="settings dynamic-table table table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}